_ReSharper.ResponsiveLayoutWithIsotope/*
_ReSharper.ResponsiveLayoutWithIsotope/*
bin/ResponsiveLayoutWithIsotope.dll
bin/ResponsiveLayoutWithIsotope.pdb
obj/*
Properties/AssemblyInfo.cs
ResponsiveLayoutWithIsotope.csproj
ResponsiveLayoutWithIsotope.sln
ResponsiveLayoutWithIsotope.suo
ResponsiveLayoutWithIsotope.csproj.user
Web.config
Web.Release.config
Web.Debug.config
